# Node.js
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build
.build/
dist/
.vercel/
.netlify/
output/

# SvelteKit
.svelte-kit/
.env
.env.local
.env.*.local

# Vite
.vite/

# IDEs y editores
.vscode/
.idea/
*.sw?

# Sistema
.DS_Store
Thumbs.db

# Mac y Linux temporales
*.log
*.pid
*.seed
*.pid.lock

# Tests / Coverage
coverage/
*.lcov

# Misc
*.tgz
*.gz
*.zip
*.tmp
*.bak
*.old
